<ui5-shellbar id="shellbar" primary-title="App Angular" secondary-title="Seidor US">
  <ui5-button icon="nav-back" slot="startButton"></ui5-button>
</ui5-shellbar>


<div class="row animated fadeIn" style="padding: 8%;" id="createclient">
  <div class="col">
    <ui5-title level="H1">General Information</ui5-title>
    <br>
    <form>

      <div class="form-group">
        <label>Title*</label>
        <input type="text" class="form-control" name="title" required>
      </div>

      <div class="form-group">
        <label>First Name*</label>
        <input type="text" class="form-control" name="firstName" required>
      </div>

      <div class="form-group">
        <label>Name*</label>
        <input type="text" class="form-control" name="name" required>
      </div>



      <hr>
      <div class="form-group text-center">
        <button type="submit" class="btn btn-primary w-25">
          <i class="fa fa-save"></i>
          Save
        </button>
        <div class="text-left">Required Fields (*)</div>
      </div>


    </form>


  </div>
</div>

<div>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    crossorigin="anonymous">

</div>


<div>
  <ui5-shellbar id="footer"></ui5-shellbar>
</div>